<div class="container">
<<<<<<< HEAD
  <h1>Cursos Disponibles</h1>
<% @courses.each do |course| %>
  <% if course.name == "Matemáticas" %>
    <div class="card-course" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1498712681408-fdcfb0eca86e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGtpZHMlMjBzY2hvbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)">
        <%= link_to course.name, course_path(course) %>
    </div>
  <% elsif course.name == "Comunicación" %>
    <div class="card-course" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1603354350266-a8de3496163b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGtpZHMlMjBzY2hvbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)">
        <%= link_to course.name, course_path(course) %>
    </div>
  <% else %>
    <div class="card-course" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= link_to course.name, course_path(course) %>
    </div>
  <% end %>
<% end %>
=======
  <% @courses.each do |c| %>
    <div class='course-card'>
    <%= link_to c do %>
      <h3><%= c.name %></h3>
    <% end %>
    <%= image_tag c.course_img %>
    </div>
  <% end %>
</div>
>>>>>>> master
